

//- Include the navbar / header
include includes/header
include includes/sidebar

.container
  br
  main(role='main')
    .jumbotron
      .col-sm-8.mx-auto
        h1 Code Nerd!
        p
          | Thanks for checking out my blog! I'm glad you're here. Take a look around. This is where I post writeups about my most recent projects and discuss topics I find interesting.
        br
        p
          | If you like what you see please let me know via email or comments!
        br
        p
          | -Kyle Supple
          //- This is how to add code / script in text
          
          //- code .container 
          //- | . For positioning of navbars, checkout the 


          //- How to add links in text:

          //- a(href='../navbar-top/') top
          //- |  and 
          //- a(href='../navbar-top-fixed/') fixed top
          //- |  examples.
        p 
          a.btn.btn-primary(href='/index', role='button') View navbar docs »

.container
  .card(class="mb-3")
    .card-img-top
      img(src="img/trippy-2.jpg", alt="trippy", class="card-img-top", style="height: 150px")
    .card-body
      .card-title Generative Machine Learning Pt. 2
      .card-text Follow my journey learning how to implement Google Deep Dream to create some crazy looking pictures.
      .card-text 
      a.btn.btn-primary(href='/index', role='button') View Post

.container
  .row
    .col-sm-6
      .card(class="mb-3")
        .card-img-top
          img(src="img/bashed.png", alt="bashed", class="card-img-top", style="height: 200px")
        .card-title Hackthebox Bashed Writeup
        .card-text Check out my first HTB writeup! I'm not great at hacking but it's super cool and I want to learn.
        .card-text 
          br
          a.btn.btn-primary(href='/index', role='button') View Post
          br
    .col-sm-6
      .card(class="mb-3")
        .card-img-top
          img(src="img/kalieee.jpeg", alt="kali", class="card-img-top", style="height: 200px")
        .card-title Kali Linux on a Raspberry Pi
        .card-text Today I installed Kali Linux on my raspberry pi, then monitored bluetooth traffic! Check it out!
        .card-text 
          br
          a.btn.btn-primary(href='/index', role='button') View Post
          br

script(
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"
)
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" integrity="sha256-pS96pU17yq+gVu4KBQJi38VpSuKN7otMrDQprzf/DWY=" crossorigin="anonymous")
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs="
  crossorigin="anonymous"
)

